<section  class=" py-1 bg-blueGray-50">
    <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
        
            <div class="rounded-t bg-white mb-0 px-6 py-6">
    
                <div class="text-center flex justify-between">
    
                    <label class="font-semibold text-gray-800 dark:text-white">
                        <fa-icon class="mr-2" [icon]="myNew"></fa-icon>  Ajouter un nouveau utilisateur :
                   </label>
    
                    <button (click)="onBack()"  class="bg-blue-800 text-white active:bg-black hover:bg-black font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button">
                        <fa-icon class="mr-2" [icon]="myCancel"></fa-icon> Annuler
                    </button>
    
                </div>
    
            </div>
    
        <br>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form [formGroup]="newUserForm"  (ngSubmit)="onNewUser()">
    
            <div class=" mb-6">
                <label for="firstName" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    <fa-icon class="mr-2" [icon]="myUserName"></fa-icon> Prénom de l'utilisateur :
                </label>
                
                <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Prénom" type="text" id="firstName"
                        formControlName="firstName" >
                                                        
            </div>
    
            <div class=" mb-6">
                <label for="lastName" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    <fa-icon class="mr-2" [icon]="myUserName"></fa-icon> Nom de l'utilisateur :
                </label>
                
                <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Nom" type="text" id="lastName"
                        formControlName="lastName" >
                                                        
            </div>

            <div class=" mb-6">
                <label for="email" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    <fa-icon class="mr-2" [icon]="myEmail"></fa-icon>  Email de l'utilisateur :
                </label>
                
                <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Email" type="email" id="email"
                        formControlName="email" >
                                                        
            </div>

            <div class=" mb-6">
                <label for="password" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    <fa-icon class="mr-2" [icon]="myPassword"></fa-icon>  Mot de passe :
                </label>
                
                <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Mot de passe" type="password" id="password"
                        formControlName="password" >
                                                        
            </div>

            <div class=" mb-6">
                <label for="password_conf" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    <fa-icon class="mr-2" [icon]="myPassword"></fa-icon>  Confirmez votre mot de passe
                </label>
                
                <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                           dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Confirmation" type="password" id="password_conf"
                        formControlName="password_conf" >
                                                        
            </div>
         
    
            <div class="flex">
                <button  type="submit" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <fa-icon [icon]="myNew"></fa-icon>
                    <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            
                    </svg>
                    <span >  Créer utilisateur</span>
                </button>
             </div>
    
    
        </form>
        </div>
        
        </div>
    </div>
    </section>
    