
<div class="flex justify-between">
    
    <button (click)="onBack()"   class=" bg-blue-800 hover:bg-black text-white text-sm 
        font-semibold inline-flex items-center p-1.5 rounded">
        <fa-icon class="mr-2" [icon]="myBack"></fa-icon>  Retour
    </button>

    <button  (click)="onEditCategory(currentCategory.categoryId)"  class="ml-auto bg-blue-800 hover:bg-black text-white
             text-sm font-semibold inline-flex items-center p-1.5 rounded">
                <fa-icon [icon]="myEdit"></fa-icon> 
    </button>
</div>

<br>
<br>

<div *ngIf="currentCategory" >

<div class="shadow-xl rounded-lg bg-gray-100 border  border-gray-300 ">     

    <article  class="md:gap-8 md:grid md:grid-cols-3">

        <div class="py-10 px-10">
            <div class="flex items-center mb-6 space-x-4">

                <img  id="Photo_cat_Det" src="{{this.catService.host+this.catService.requestMappingCat+'/photoCategory/'+currentCategory.categoryId+'?ts='+getTS()}}"/>

               

            </div>

            <div class="space-y-4 text-sm text-gray-500 dark:text-gray-400">

                <button  *ngIf="!editPhoto" (click)="onEditPhoto(currentCategory)" class="ml-auto bg-blue-800 hover:bg-black text-white text-sm 
                                                                                        font-semibold inline-flex items-center p-1.5 rounded">
                    <fa-icon [icon]="myEdit"></fa-icon> 
                </button>
                
                
                <span *ngIf="editPhoto">

                    
                    <label class="font-semibold text-gray-800 dark:text-white">
                        <fa-icon class="mr-2" [icon]="myEdit"></fa-icon>  Modifier la photo de la catégorie :
                    </label>
                    <br>
                    <br>
                    <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer 
                                bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 
                                dark:placeholder-gray-400" id="file_input" type="file" (change)="onSelectedFile($event)">

                    <br>

                    <div class="flex justify-between">
                        <button (click)="uploadPhoto()" type="button" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <fa-icon class="mr-3"  [icon]="myUpload"></fa-icon>
                            <span >  Modifier</span>
                        </button>

                        <button (click)="onCancelUploadPhoto()" type="button" class=" text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <fa-icon class="mr-3"  [icon]="myCancel"></fa-icon>

                            <span >  Annuler</span>
                        </button>
                        
                    </div>

                    <br>

                    <!-- <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> {{progress}}</div>
                    </div> -->

                    

                </span>

            </div>
        </div>

        <div class="col-span-2 mt-6 md:mt-0 py-10">

            <div class="flex items-start mb-5">

                <div class="pr-4">
                    <h4 class="text-xl font-bold text-gray-900 dark:text-white">  {{currentCategory.name}}</h4>
                </div>

            </div>

         
            <span class="text-1xl font-bold text-gray-500 dark:text-white">Description :</span>
            <p class="mb-5 text-gray-500 dark:text-gray-400"> {{currentCategory.description}}</p>
           
            <br>
            <br>

            <span class="text-1xl font-bold text-gray-500 dark:text-white">Etat :</span>
            <br>
            <p *ngIf="currentCategory.active" class="mb-5 text-gray-500 dark:text-gray-400">
                 <fa-icon class="mr-2 text-green-600" [icon]="myActive"></fa-icon>  Activée
            </p>
            <p *ngIf="!currentCategory.active" class="mb-5 text-gray-500 dark:text-gray-400">
                <fa-icon class="mr-2 text-rose-600" [icon]="myDisabled"></fa-icon>  Désactivée
            </p>

            <br>

 
        </div>
    </article>

</div>
<br>
<br>
<div>      
    <form [formGroup]="searchForm" (submit)="onSearchProducts()">
        <div class="flex">
            <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
            <button (click)="onAllProductsByCat()" id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-blue-500 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                Tous les produits de la catégorie<fa-icon class="ml-3 text-blue-800" [icon]="myAngle"></fa-icon>
            </button>

            <div class="relative w-full">
                <input  type="search" id="search-dropdown" 
                        class=" form-control block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-blue-500 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
                        placeholder="Rechercher des produits en utilisant la désignation ou bien une déscription !" 
                        required
                        formControlName="keyword">

                <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-blue-800 rounded-r-lg border border-blue-700 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>
    </form>

</div>
<br>
<br>
<div class="flex justify-center">
    <div *ngIf="searchMode" class="font-bold text-base text-blue-800 flex justify-between w-1/2">
        <div>
            <fa-icon class="mr-2" [icon]="mySearch"></fa-icon> {{title}}
        </div>
        <div>
            <button (click)="onAllProductsByCat()" type="button" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <fa-icon class="mr-2" [icon]="myCancel"></fa-icon> <span >  Annuler</span>
            </button>
        </div>
    </div>
</div>

<br>
    <div class="flex">
        <button routerLink="/new-product/{{currentCategory.categoryId}}" type="button" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <fa-icon [icon]="myNew"></fa-icon>
            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    
            </svg>
            <span >  Nouveau Produit</span>
        </button>
    </div>
    <br>
    <div *ngIf="productsOfCategory">

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg"> 
        
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Produit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Stock
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Prix
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <fa-icon [icon]="myEdit"></fa-icon>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <fa-icon [icon]="myDelete"></fa-icon>
                        </th>
                        
                    </tr>
                </thead>
    
                <tbody>
                    
                    <tr  *ngFor= "let p of productsOfCategory" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        
                        <td [routerLink]="'/product-detail/'+p.productId" class="clickable w-32 p-4">
                            <img src="{{this.catService.host+this.catService.requestMapping+'/photoProduct/'+p.productId}}" alt="Apple Watch">
                        </td>
                        
                        <td [routerLink]="'/product-detail/'+p.productId" class="clickable px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.name}}
                        </td>
                        
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.stock}}
                        </td>
                        
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.currentPrice | number:'0.2'}}
                        </td>
                        
                        <td (click)="onEditProduct(p.productId)" class="px-6 py-4" >
                            <a  class="clickable font-medium text-green-600 dark:text-red-500 hover:underline">Modifier</a>
                        </td>

                        <td class="px-6 py-4" >
                            <a (click)="onDelete(p.productId)" class="clickable font-medium text-red-600 dark:text-red-500 hover:underline">Retirer</a>
                        </td>
                        
                    </tr>
    
                </tbody>
                <br>
               
            </table>
        </div>
    </div>

    <div>

        <br><br>
        
        <div class="flex justify-center">
        
          <nav aria-label="Page navigation example">
        
            <ul class="inline-flex -space-x-px text-base h-10">
        
              <li *ngIf="!(firstPage==currentPage)">
                <a (click)="loadPreviousPage()" class="clickable mr-4 flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-blue-800 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <fa-icon class="mr-2 text-blue-800" [icon]="myAngleLeft"></fa-icon> Précédent
                </a>
              </li>
        
              <ng-container *ngFor="let pageNum of getPageNumbers()">
        
                <li class="clickable ">
        
                    <a  *ngIf="pageNum !== '...'; else ellipsis"  
                        [class]="isPageActive(pageNum) ? 'rounded-md bg-blue-800 mr-2 ml-2 flex items-center justify-center px-4 h-10 text-white border border-gray-300   dark:border-gray-700 dark:bg-gray-700 dark:text-white' 
                                                       : 'rounded-md mr-2 ml-2 flex items-center justify-center px-4 h-10 text-blue-600 border border-blue-800 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white'"
                        (click)="loadProductsByPage(+pageNum)">
                        
                        {{ pageNum }}
                    </a>
                    <ng-template #ellipsis>
                      <span class="px-4 h-10 flex items-center justify-center text-blue-600">...</span>
                    </ng-template>
                </li>
        
              </ng-container>
        
              <li *ngIf="!(lastPage==currentPage)">
                <a (click)="loadNextPage()" class="clickable ml-4 flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-blue-800 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  Suivant <fa-icon class="ml-3 text-blue-800" [icon]="myAngle"></fa-icon>
                </a>
              </li>
        
            </ul>
          </nav>
          
        
        </div>
        
        <br>
        
        </div>

</div>

