
<div class="panel {{mainPanelStyle}}">

    <div class="panel-heading">Récapitulatif sur votre commande</div>

    <div class="panel-body" *ngIf="orderService.order.id">

        <button class="btn btn-success" (click)="onPayOrder()" >Passer au paiment</button>

        <button class="btn btn-danger pull-right" (click)="onCancel()" >Annuler la commande</button>

    </div>

    <div class="panel-body" *ngIf="orderService.order.id!=0">
        <br>
        <div class="panel panel-primary">

            <div class="panel-heading"> Détail de la commande :</div>
            <div class="panel-body">

                <table  class="table table-striped">

                    <thead>
                        <tr>
                        <th>Numéro de Commande</th>
                        <th>Date de la commande</th>
                        <th>Montant à payer</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                        <td>{{orderService.order.id}}</td>
                        <td>{{orderService.order.date}}</td>
                        <td>{{orderService.getTotal()|number:'0.2'}}</td>
                        </tr>
                    </tbody>
                    <br>
            
                </table>

            </div>
        </div>


    </div>

    
    <div class="panel-body">

        <div class="panel {{clientPanelStyle}}">

            <div class="panel-heading">Informations du client :</div>

            <div class="panel-body">

                <div class="col-md-5">

                    <div class="form-group">
                        <label>Nom du Client :</label>
                        <br>
                        <p>{{orderService.order.client.name}}</p>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label>Adresse Client :</label>
                        <br>
                        <p>{{orderService.order.client.address}}</p>
                    </div>
            </div>
    
            <div class="col-md-5">
                    <div class="form-group">
                        <label>Téléphone Client :</label>
                        <br>
                        <p>{{orderService.order.client.phoneNumber}}</p>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label>Email Client:</label>
                        <br>
                        <p>{{orderService.order.client.email}}</p>
                    </div>
    
            </div>

            </div>
        </div>


        <br>
  
    </div>

    <br>
    <div class="panel-body">

        <div class="panel {{productsPanelStyle}}">
            <div class="panel-heading"> Les produits de la commande :</div>

            <div class="panel-body">
                <table  class="table table-striped">

                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr *ngFor="let p of orderService.order.products">
                        <td>{{p.id}}</td><td>{{p.name}}</td>
                        <td>{{p.quantity|number:'0.2'}}</td>
                        <td>{{p.price|number:'0.2'}}</td>
                        </tr>
                    </tbody>
                    <br>
                    <thead>
                        <tr>
                        <td colspan="3">Total :</td>
                        <td>{{orderService.getTotal()|number:'0.2'}}</td>
                        </tr>
                    </thead>
        
                </table>

            </div>


        </div>
        

        
    </div>




    <div class="panel-body" *ngIf="orderService.order.id==0">

        <button class="btn btn-success" (click)="onOrder()" >Confirmer la commande</button>

        <button class="btn btn-danger pull-right" (click)="onBack()" >Retour</button>

    </div>

</div>