<section *ngIf="currentUser"  class=" py-1 bg-blueGray-50">

    <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">

        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-100 border-0">
            
            <div class="rounded-t bg-white mb-0 px-6 py-6">

                <div class="text-center flex justify-between">

                    <label class="font-semibold text-blue-800 dark:text-white">
                         <fa-icon class="mr-2" [icon]="myEdit"></fa-icon>  Modifier l'utilisateur :
                    </label>

                    <button (click)="onBack()"  class="bg-blue-800 text-white active:bg-black hover:bg-black font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button">
                        <fa-icon class="mr-2" [icon]="myCancel"></fa-icon> Annuler
                    </button>

                </div>

            </div>

            <br>
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

                <form [formGroup]="editUserForm"  (ngSubmit)="onUpdateUser()">

                    <div  class=" mb-6">
                        <label for="id_c" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myId"></fa-icon> ID de l'utilisateur :
                        </label>
                        
                        <input  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="id_c"
                                [value]="currentUser.userId"
                                readonly>
                                                                
                    </div>

                    <div class=" mb-6">
                        <label for="Fname_u" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myUserName"></fa-icon> Prénom :
                        </label>
                        
                        <input  class=" form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="Fname_u"
                                [value]="currentUser.firstName"
                                formControlName="firstName">
                                                                
                    </div>

                    <div class=" mb-6">
                        <label for="Lname_u" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myUserName"></fa-icon> Nom :
                        </label>
                        
                        <input  class=" form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="Lname_u"
                                [value]="currentUser.lastName"
                                formControlName="lastName">
                                                                
                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon class="mr-6 text-red-500" [icon]="myAdmin"></fa-icon>
                        <div class="flex items-center h-5">
                            <input  class=" form-control w-4 h-4 border border-red-500 rounded bg-white focus:ring-3 focus:ring-red-500 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    id="admin" type="checkbox"
                                    [value]="currentUser.admin"
                                    formControlName="admin">
                            
                        </div>
                        <label for="admin" class="control-label ml-2 text-sm font-medium text-red-500 dark:text-gray-300">Administrateur </label>
                    </div>

                    <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                            <input  class=" form-control w-4 h-4 border border-gray-300 rounded bg-white focus:ring-3 focus:ring-blue-300 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    id="active" type="checkbox"
                                    [value]="currentUser.active"
                                    formControlName="active">
                            
                        </div>
                        <label for="active" class="control-label ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Actif </label>
                    </div>

                    <!-- <div class=" mb-6">
                        <label for="password" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe :</label>
                        
                        <input  class=" form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="password" id="password"
                                formControlName="password">
                                                                
                    </div> -->

     
                    <br>
                    <div class="flex">
                        <button  type="submit" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <fa-icon [icon]="myEdit"></fa-icon>
                            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    
                            </svg>
                            <span >  Modifier l'utilisateur</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
 