<div>
    <div *ngIf="!editProduct"> 
         
        <div>      
            <form [formGroup]="searchForm" (submit)="onSearchProducts()">
                <div class="flex">
                    <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                    <button (click)="onAllProducts()" id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-blue-500 rounded-l-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                        Tous les produits <fa-icon class="ml-3 text-blue-800" [icon]="myAngle"></fa-icon>
                    </button>
    
                    <div class="relative w-full">
                        <input  type="search" id="search-dropdown" 
                                class=" form-control block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-blue-500 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" 
                                placeholder="Rechercher des produits en utilisant la désignation ou bien une déscription !" 
                                required
                                formControlName="keyword">
    
                        <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-blue-800 rounded-r-lg border border-blue-700 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </div>
            </form>
    
        </div>
    
        <br>
        

    </div>
    <br>
    <div class="flex justify-center">
        <div *ngIf="searchMode" class="font-bold text-base text-blue-800 flex justify-between w-1/2">
            <div>
                <fa-icon class="mr-2" [icon]="mySearch"></fa-icon> {{title}}
            </div>
            <div>
                <button (click)="onAllProducts()" type="button" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <fa-icon class="mr-2" [icon]="myCancel"></fa-icon> <span >  Annuler</span>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="!editProduct" class="flex">
        <button routerLink="/new-product" type="button" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <fa-icon [icon]="myNew"></fa-icon>
            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    
            </svg>
            <span >  Nouveau Produit</span>
        </button>
    </div>
    <br>
    <div *ngIf="allProducts && !editProduct">

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg"> 
        
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Produit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Catégorie du Produit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Stock
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Prix
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <fa-icon [icon]="myEdit"></fa-icon>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <fa-icon [icon]="myDelete"></fa-icon>
                        </th>
                        
                    </tr>
                </thead>
    
                <tbody>
                    
                    <tr  *ngFor= "let p of allProducts" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        
                        <td [routerLink]="'/product-detail/'+p.productId" class="clickable w-32 p-4">
                            <img src="{{this.catService.host+this.catService.requestMapping+'/photoProduct/'+p.productId}}" alt="Apple Watch">
                        </td>
                        
                        <td [routerLink]="'/product-detail/'+p.productId" class="clickable px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.name}}
                        </td>
                        <td [routerLink]="'/product-detail/'+p.productId" class=" px-6 py-4 font-medium text-gray-900 dark:text-white">
                            {{ categoryOfProduct[p.categoryId] || ' ' }}
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.stock}}
                        </td>
                        
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{p.currentPrice | number:'0.2'}}
                        </td>
                        
                        <td (click)="onEdit(p.productId)" class="px-6 py-4" >
                            <a  class="clickable font-medium text-green-600 dark:text-red-500 hover:underline">Modifier</a>
                        </td>

                        <td (click)="onDelete(p.productId)" class="px-6 py-4" >
                            <a  class="clickable font-medium text-red-600 dark:text-red-500 hover:underline">Retirer</a>
                        </td>
                        
                    </tr>
    
                </tbody>
                <br>
               
            </table>
        </div>


    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------- -->
<section  class=" py-1 bg-blueGray-50">

    <div *ngIf="editProduct" class="w-full lg:w-8/12 px-4 mx-auto mt-6">

        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-100 border-0">
        
            <div class="rounded-t bg-white mb-0 px-6 py-6">

                <div class="text-center flex justify-between">

                    <label class="font-semibold text-blue-800 dark:text-white">
                        <fa-icon class="mr-2" [icon]="myEdit"></fa-icon>  Modifier le produit :
                   </label>

                    <button (click)="onBack()"  class="bg-blue-800 text-white active:bg-black hover:bg-black font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button">
                        <fa-icon class="mr-2" [icon]="myCancel"></fa-icon> Annuler
                    </button>

                </div>

            </div>

            <br>
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

                <form [formGroup]="editProductForm"  (ngSubmit)="onUpdateProduct()">

                    <div class=" mb-6">
                        <label for="id_p" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myId"></fa-icon> ID du Produit :
                        </label>
                        
                        <input  class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="id_p"
                                [value]="currentProduct.productId"
                                readonly>
                                                                
                    </div>

                    <div class=" items-start mb-6">
                        
                        <label for="file_input" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myImage"></fa-icon> Photo du produit :
                         </label>
                        
                        <div class="flex">
                            <div class="flex items-center justify-center w-full">

                                <label for="dropzone-file" class="mr-1 flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                        </svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Cliquez pour changer la photo du produit</span></p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">La photo doit etre en format JPG (MAX. 800x400px)</p>
                                    </div>
                                    <input (change)="uploadPhoto($event)" id="dropzone-file" type="file" class="hidden" />
                                </label>
                                
                            </div> 

                            <figure class="rounded-lg border-2 border-gray-300 border-dashed max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
                                <a >
                                    <img class="rounded-lg" src="{{this.catService.host+this.catService.requestMapping+'/photoProduct/'+currentProduct.productId+'?ts='+getTS()}}" alt="image description">
                                </a>
                            </figure>
                        </div>

                    </div>

                    <div class=" mb-6">
                        <label for="name_p" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myProduct"></fa-icon> Désignation du Produit :
                        </label>
                        
                        <input  class=" form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="name_p"
                                [value]="currentProduct.name"
                                formControlName="name" >
                                                                
                    </div>

                    <div class="mb-6">       
                        <label for="descr" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myDesc"></fa-icon> Déscription du produit :
                        </label>
                        
                        <textarea  class="form-control block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                                                dark:focus:border-blue-500"
                                    id="descr"  rows="4"
                                    [value]="currentProduct.description"
                                    formControlName="description"></textarea>
                    </div> 

                    <div class="mb-6">       
                        <label for="details" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myDesc"></fa-icon> Détails du produit :
                        </label>
                        
                        <textarea  class="form-control block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                                                                dark:focus:border-blue-500"
                                    id="details"  rows="4"
                                    [value]="currentProduct.details"
                                    formControlName="details"></textarea>
                    </div> 

                    <div class="mb-6">
                        <label for="price" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myPrice"></fa-icon> Prix de produit :
                        </label>
                        
                        <input  class="form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="price" 
                                [value]="currentProduct.price"
                                formControlName="price">
                    </div>


                    <div class="mb-6">
                        <label for="stock" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2" [icon]="myStock"></fa-icon> Stock :</label>
                        
                        <input  class="form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="text" id="stock" 
                                [value]="currentProduct.stock"
                                formControlName="stock">
                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon  class="mr-6 text-rose-600" [icon]="myPromo" ></fa-icon>

                        <div class="flex items-center h-5">
                            <input  class=" form-control w-4 h-4 border border-rose-600 rounded bg-white focus:ring-3 focus:ring-rose-500 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                    id="promo" type="checkbox"
                                    [value]="currentProduct.promotionProduct"
                                    formControlName="promotionProduct">
                            
                        </div>
                        <label for="promo" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            En Promotion  
                        </label>
                    </div>

                    <div *ngIf="editProductForm.get('promotionProduct').value" class="mb-6">
                        <label for="promotionRate" class="control-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <fa-icon class="mr-2 text-rose-600" [icon]="myRate"></fa-icon> Pourcentage de la promotion :
                        </label>
                        
                        <input  class="form-control bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                type="number" id="promotionRate" min="0" max="1"
                                [value]="currentProduct.promotionRate"
                                formControlName="promotionRate">
                    </div>


                    <div class="flex items-start mb-6">
                        <fa-icon class="mr-5 text-yellow-400 " [icon]="myTendancy"></fa-icon>

                        <div class="flex items-center h-5">
                 
                            <input   class="form-control w-4 h-4 border border-yellow-400 rounded bg-white focus:ring-3 focus:ring-yellow-400 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" 
                                    id="tendancyProduct" type="checkbox" 
                                    [value]="currentProduct.tendancyProduct"
                                    formControlName="tendancyProduct">
                        </div>

                        <label for="tendancyProduct" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Produit tendance  
                        </label>

                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon   class="mr-6 text-fuchsia-700" [icon]="mySelected" ></fa-icon>

                        <div class="flex items-center h-5">

                            <input   class="form-control w-4 h-4 border border-fuchsia-700 rounded bg-white focus:ring-3 focus:ring-fuchsia-700 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" 
                                    id="select" type="checkbox" 
                                    [value]="currentProduct.selectedProduct"
                                    formControlName="selectedProduct">
                        </div>

                        <label for="select" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Sélectioné  
                        </label>

                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon  class="mr-6 text-green-400" [icon]="myAvailable" ></fa-icon> 

                        <div class="flex items-center h-5">
                            <input  class="form-control w-4 h-4 border border-green-400 rounded bg-white  focus:ring-3 focus:ring-green-400 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800  dark:focus:ring-offset-gray-800" 
                                    id="dispo" type="checkbox"
                                    [value]="currentProduct.availableProduct"
                                    formControlName="availableProduct">
                        </div>

                        <label for="dispo" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Disponible 
                        </label>

                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon  class="mr-6 text-blue-600" [icon]="myNewPr"></fa-icon>

                        <div class="flex items-center h-5">
                            <input   class="form-control w-4 h-4 border border-blue-600 rounded bg-white focus:ring-3 focus:ring-blue-600 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" 
                                    id="newProduct" type="checkbox" 
                                    [value]="currentProduct.newProduct"
                                    formControlName="newProduct">
                        </div>

                        <label for="newProduct" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Nouveau produit 
                        </label>

                    </div>

                    <div class="flex items-start mb-6">
                        <fa-icon  class="mr-5 text-emerald-700" [icon]="myFutur" ></fa-icon> 

                        <div class="flex items-center h-5">
                            <input   class="form-control w-4 h-4 border border-emerald-700 rounded bg-white focus:ring-3 focus:ring-emerald-700-700 dark:bg-gray-700  dark:border-gray-600 dark:focus:ring-blue-600  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" 
                                    id="futurProduct" type="checkbox" 
                                    [value]="currentProduct.futurProduct"
                                    formControlName="futurProduct">
                        </div>

                        <label for="futurProduct" class="clickable control-label ml-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Produit prochainement dans le stock 
                        </label>

                    </div>

                   
                    <br>
                    <div class="flex">
                        <button  type="submit" class="text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <fa-icon [icon]="myEdit"></fa-icon>
                            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    
                            </svg>
                            <span >  Modifier le produit</span>
                        </button>
                    </div>

                    <br>
 
                </form>
            </div>
        </div>
    </div>
</section>

<div *ngIf="!editProduct">

    <br><br>
    
    <div class="flex justify-center">
    
      <nav aria-label="Page navigation example">
    
        <ul class="inline-flex -space-x-px text-base h-10">
    
          <li *ngIf="!(firstPage==currentPage)">
            <a (click)="loadPreviousPage()" class="clickable mr-4 flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-blue-800 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <fa-icon class="mr-2 text-blue-800" [icon]="myAngleLeft"></fa-icon> Précédent
            </a>
          </li>
    
          <ng-container *ngFor="let pageNum of getPageNumbers()">
    
            <li class="clickable ">
    
                <a  *ngIf="pageNum !== '...'; else ellipsis"  
                    [class]="isPageActive(pageNum) ? 'rounded-md bg-blue-800 mr-2 ml-2 flex items-center justify-center px-4 h-10 text-white border border-gray-300   dark:border-gray-700 dark:bg-gray-700 dark:text-white' 
                                                   : 'rounded-md mr-2 ml-2 flex items-center justify-center px-4 h-10 text-blue-600 border border-blue-800 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white'"
                    (click)="loadProductsByPage(+pageNum)">
                    
                    {{ pageNum }}
                </a>
                <ng-template #ellipsis>
                  <span class="px-4 h-10 flex items-center justify-center text-blue-600">...</span>
                </ng-template>
            </li>
    
          </ng-container>
    
          <li *ngIf="!(lastPage==currentPage)">
            <a (click)="loadNextPage()" class="clickable ml-4 flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-blue-800 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              Suivant <fa-icon class="ml-3 text-blue-800" [icon]="myAngle"></fa-icon>
            </a>
          </li>
    
        </ul>
      </nav>
      
    
    </div>
    
    <br>
    
    </div>
    
