.myAPP
{
    background-color: rgb(239, 242, 249)
}
.clickable
{
    cursor: pointer;
}
.navbar
{
    /*background-color: rgb(192, 199, 214)*/
        position: fixed; 
        top: 0;  
        width: 100%; 
        z-index: 1000; 
}
.content-after-navbar {
    padding-top: 100px; 
  }