<div class="myAPP">

    <div > 
        <div >
          <app-navbar (Selected_Products)= "onSelectedProducts()"
                      (products_Promo) = "OnProductsPromo()"
                      (products_Dispo) = "onProductsDispo()"
                      (Log_Out) = "onLogout()"
                      (Log_In) = "onLogin()"
                      (Jump_To_Section) = "onJumpToSection($event)"
          >
          </app-navbar>
        </div>
    </div>

    <div class="flex">

        <div class="w-1/5">
          <app-sidebar  [_Categories] = "categories"
                        [Current_Category] = "currentCategory"
                        (Products_By_Cat) = "getProductsByCat($event)"
          >
          </app-sidebar>
        </div>


          <div class=" w-4/5">
            <br>
            <router-outlet>

            </router-outlet>

          </div>

    </div>

    <section id="contact-us">
          <app-footer></app-footer>
    </section>

    <br>
    <br>

    <!--
    <app-footer></app-footer>
    -->
</div>