
<div class="flex justify-center">

    
  <div class="w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow-2xl sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
     
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="space-y-6" >
  
          <h5 class="text-xl font-medium text-gray-900 dark:text-white">Créer votre compte </h5>
  
          <div class="grid">
            <div  class="form-group relative">
    
              <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre prénom</label>

              <input 
                  formControlName="firstName"
                  class="form-control"
                  [ngClass]="{'error-input': (First_Name?.touched || First_Name?.dirty) && !First_Name?.valid}"
                  type="text" id="firstName"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                  placeholder="Prénom">

                  <div class="text-[11px] text-red-500">
                    <div *ngIf="First_Name?.hasError('required') && First_Name?.touched" >* Ce champs est obligatoire !</div>
                  
                </div>

            </div>
            <br>
            <div  class="form-group relative">
    
              <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Votre nom </label>

              <input 
                  formControlName="lastName"
                  class="form-control"
                  [ngClass]="{'error-input': (Last_Name?.touched || Last_Name?.dirty) && !Last_Name?.valid}"
                  type="text" id="lastName"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                  placeholder="Nom">

                  <div class="text-[11px] text-red-500">
                    <div *ngIf="Last_Name?.hasError('required') && Last_Name?.touched" >* Ce champs est obligatoire !</div>
                  
                </div>

            </div>
          </div>
          <div  class="form-group">
  
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Votre Email</label>
  
              <input 
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{'error-input': (Email?.touched || Email?.dirty) && !Email?.valid}"
                  type="email" id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                  placeholder="name@exemple.com">

                  <div class="text-[11px] text-red-500">
                    <div *ngIf="Email?.hasError('required') && Email?.touched" >* Ce champs est obligatoire !</div>
                    <div *ngIf="Email?.invalid && Email?.dirty" >* Ce champ doit etre un Email !</div>
                </div>
  
          </div>
  
          

              <div class="form-group">

                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Saisir un mot de passe </label>

                    <input formControlName="password" 
                    class="form-control"
                    [ngClass]="{'error-input': (Password?.touched || Password?.dirty) && !Password?.valid }"
                    type="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
              
                    <div class="text-[11px] text-red-500">
                      <div *ngIf="Password?.hasError('required') && Password?.touched" >* Ce champs est obligatoire !</div>
                      <div *ngIf="Password?.invalid && Password?.dirty" >* Au moins 8 char !</div>
                    </div>
              </div>
              
              <div class="form-group">

                  <label for="password_conf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Confirmez votre mot de passe </label>
                  
                  <input formControlName="password_conf"
                  class="form-control"
                  [ngClass]="{'error-input': (Password_Conf?.touched || Password_Conf?.dirty) && !Password_Conf?.valid }"
                  type="password" id="password_conf" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                
                  <div class="text-[11px] text-red-500">
                    <div *ngIf="Password_Conf?.hasError('required') && Password_Conf?.touched" >* Ce champs est obligatoire !</div>
                    <div *ngIf="(Password_Conf?.value != Password?.value) && Password_Conf?.dirty" >* Champs non identiques !</div>
                  </div>
              
              </div>

              <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="terms" class="font-light text-gray-500 dark:text-gray-300">J'accepte les <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Termes et Conditions </a> du site</label>
                  </div>
              </div>
 
            <button [disabled]="!registerForm.valid" type="submit" class="w-full text-white bg-blue-800 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Créer un compte
            </button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Déja inscris ? <a routerLink="/login" class="text-blue-700 hover:underline dark:text-blue-500">Se connecter </a>
            </div>
      </form>
  </div>
   
  
  </div>

<br>
<br>
  